
.youtube-iframe iframe {
  position: static;
}

.quote {
  border-radius: 10px 10px 0 0;
  height: 40px;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}

.quote {
  overflow: hidden; 
  border-right: .15em solid green; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 1.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: green; }
}

body {
  background-color: white;
  background-size: 1800px 600px;
  font-family: 'hyperspace', sans-serif;
  text-align: center;
}

header {
  width: 100%;
  background-size: 100%;
  background-position: center;
  
}

img {
  width: 100%;
  height: 250px;
}



.hero-content{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    
  
}



.container{
  position: center;
  border-radius: 7px;
  background-color: black;
  
}



.title {
  height: 50px;
  font-size: 3rem;
  color: white;
  border-radius: 0 0 10px 10px;
  text-align: right;
}


button {
  background-color: white;
 
}
